.steps-content {
    margin-top: 16px;
    border: 1px dashed #e9e9e9;
    border-radius: 6px;
    background-color: #ffffff;
    min-height: 200px;
    text-align: center;
    padding-top: 80px;
  }
  
  .steps-action {
    margin-top: 24px;
  }
  .action-buttons {
    padding: 10px 16px;
    text-align: right;
    left: 0px;
  }
  
  button {
    margin-right: 8px;
  }
  
  nz-page-header {
    border: 1px solid rgb(235, 237, 240);
  }
  
  .wrap {
    display: flex;
  }
  
  .content {
    flex: 1;
  }
  
  .content p {
    margin-bottom: 8px;
  }
  
  .content-link {
    padding-top: 16px;
  }
  
  .content-link a {
    display: inline-block;
    vertical-align: text-top;
    margin-right: 32px;
  }
  .collapsible {
    overflow: hidden;
  }
  .content-link a img {
    margin-right: 8px;
  }
  
  .extra-content {
    min-width: 240px;
    text-align: right;
  }
  .shadow-card {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.03);
    border-radius: 6px;
    background-color: white;
  }
  .rounded {
    border-radius: 8px;
  }
  