<p>grid works!</p>

  <div class="options-header">
    <!-- <button  (click)="pushItem()" class="add-button cols-2">
      Resize first item and push others
    </button> -->
    <button  (click)="addItem()" class="add-button cols-2">
      <i>add</i>
    </button>
    <button  (click)="addTable()" class="add-button cols-2">
        <i>add Table</i>
      </button>
      <button  (click)="addTestCase()" class="add-button cols-2">
        <i>add TestCase</i>
      </button>
      <button  (click)="addImage()" class="add-button cols-2">
        <i>add Image</i>
      </button>
      <button  (click)="addCard()" class="add-button cols-2">
        <i>add Card</i>
      </button>
      <button  (click)="addPie()" class="add-button cols-2">
        <i>add Pie</i>
      </button>
      <button   class="add-button cols-2" (click)="showModal()">
        <i>add bar</i>
      </button>
      <button   class="add-button cols-2" (click)="showPreview()">
        <i>Preview</i>
      </button>
  </div>
<div style="width: 90vw; height: 90vh;">

<gridster [options]="options">
    <gridster-item [item]="item" *ngFor="let item of dashboard">
      <div class="button-holder">
        <button (mousedown)="removeItem($event, item)"
                (touchstart)="removeItem($event, item)">
          <i>delete</i>
        </button>
       
       
        <!-- <h1 nz-title *ngIf="item.name">{{item.name}}</h1> -->
        
      </div>
      <div class="gridster-item-content" style="height: 100%; margin: 5px">
            <ndc-dynamic [ndcDynamicComponent]="item.componentType"
            [ndcDynamicInputs]="item.inputs"
            [ndcDynamicOutputs]="item.outputs"
             ></ndc-dynamic>
          </div>
    </gridster-item>
  </gridster>
</div>


<!-- Modal -->
<!-- <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div clas="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      
        <form [formGroup]="barForm" (ngSubmit)="onSubmit(barForm)">
          <div class="modal-body">
          <div class="form-group">
            <label for="exampleFormControlInput1">Chart Type</label>
            <input type="text" class="form-control" formControlName = "chartType">
          </div>
        </div>
        
      
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
    </form>
    </div>
  </div>
</div> -->



<nz-modal [(nzVisible)]="isVisible" nzTitle="The first Modal" (nzOnCancel)="handleCancel()" (nzOnOk)="handleOk(barForm)">
 <form [formGroup]="barForm">
  <nz-select formControlName = "chartType" nzAllowClear nzPlaceHolder="Choose">
    <nz-option nzValue="bar" nzLabel="Bar"></nz-option>
    <nz-option nzValue="line" nzLabel="Line"></nz-option>
  </nz-select>
  <br><br>

  <input nz-input placeholder="Enter the id"  formControlName = "chartId" />
      
        <!-- <input type="text"  formControlName = "chartType"/> -->
      
    
    </form>
</nz-modal>